
<%= will_paginate @climbers %>

<table>
  <tr>
	<th>Points</th>
	<th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @climbers.each do |climber| %>
  <tr>
	<td><%= climber.climb_score %></td>
	<td><%= climber.first_name %></td>
    <td><%= link_to 'Show' %></td>
  </tr>
<% end %>
</table>

<br />
